@use 'foundation' as *; 

.btn {
  /* ボタンの形状 */
  text-decoration: none;
  display: inline-block;
  width: prem(235);
  border: prem(1) solid #1B1310; /* ボーダーの色と太さ */
  padding: prem(16) 0 prem(16) prem(40);
  text-align: left;
  outline: none;
  background-color: #F7D43F;
  color: #171717;
  border-radius: rem(30);
  font-family: $font-family-en;
  /* アニメーションの指定 */
  // transition: ease 0.2s;
}
