@use 'foundation' as *; 

.top-service-layout {
  margin-top: prem(100);
  padding-top: prem(60);
  padding-bottom: prem();
  @include mq(md) {
    padding-top: prem(60);
    padding-bottom: prem(40);
    margin-top: prem(40);
  }
}