@use 'foundation' as *;

.top-works-layout {
  padding-top: prem(104);
  padding-bottom: prem(70);
  margin-top: prem(100);
  @include mq(md) {
    margin-top: prem(40);
    padding-bottom: prem(40);
    margin-top: prem(100);
  }
}