@use 'foundation' as *;

.header-nav__items {
  height: inherit;
  display: flex;
}

.header-nav__item {
  height: inherit;
}

.header-nav__item a {
  padding-right: prem(30);
  display: flex;
  align-items: center;
  height: inherit;
  font-size: prem(16);
  font-family: $font-family-en;
  font-weight: Bold;
  font-style: Italic;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}