@use 'foundation' as *;

.header-nav__items {
  height: inherit;
  display: flex;
}

.header-nav__item {
  height: inherit;
}

.header-nav__item a {
  padding: 0 prem(12.5);
  display: flex;
  align-items: center;
  height: inherit;
  font-size: prem(14);
  line-height: 1;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}