@use 'foundation' as *; 

.top-works {
  background-image: url(/images/common/mv-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-works__title {
  text-align: right;
}