@use 'foundation' as *; 

.top-service__title {
  text-transform: capitalize; 
}



.top-service__cards {
  margin-top: prem(80);
}

.top-service__card {
  position: relative;
}

.card-title {
  @include mq(md) {
    font-size: prem(20);
  }
  color: $color-white;
  font-size: prem(40);
  font-family: $font-family-en;
  font-style: italic;
  letter-spacing: 0.05em;
}


.top-service__card__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-service-under__title {
  color: rgba(23, 23, 23, 0.05);
  text-align: right;
  line-height: 1.66;
}