@use 'foundation' as *; 

.top-service__cards {
  @include mq(md) {
    margin-top: prem(40);
  }
  margin-top: prem(80);
}


.top-service__card {
  position: relative;
}

.card-title {
  @include mq(md) {
    font-size: prem(24);
  }
  color: $color-white;
  font-size: prem(40);
}


.top-service__card__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-service-under__title {
  color: rgba(23, 23, 23, 0.05);
  text-align: right;
}