@use 'foundation' as *; 

.top-contact {
  background-image: url(/images/common/Works-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-contact__title {
  text-align: right;
  text-transform: capitalize; 
  letter-spacing: 0.05em;
}


.top-contact__title::after {
  content: ""; /* contentプロパティは必要ですが、中身は空です */
  background-color: white; /* 背景色（例: 黒色） */
}

.top-contact__comment {
  margin-top: prem(80);
  text-align: center;
}

.top-contact__text {
  font-size: prem(20);
}

.top-contact__btn {
  @include mq(md) {
    margin-top: prem(30);
  }
  margin-top: prem(80);
  text-align: center;
}

.top-contact-under__title {
  opacity: 0.3;
  line-height: 1.66;
}
