@use 'foundation' as *;

.top-concept__inner {
  max-width: prem(1100);
  color: black;
}

.top-concept__title {
  color: black;
  text-transform: uppercase; 
}

.top-concept__sub-title {
  margin-top: prem(70);
  font-size: prem(30);
  font-weight: bold;
  text-align: center;
}

.top-concept__block {
  max-width: prem(1000);
  margin-top: prem(60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: prem(120);
}

.top-concept__text {
  max-width: prem(440);
  font-weight: bold;
}

.top-concept__img {
  aspect-ratio: 440 / 240;
}

.top-concept__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-under__title {
  color: rgba(23, 23, 23, 0.05);
  text-align: right;
}