@use 'foundation' as *;
// サンプルです
// SPファースト
@if $break-flg == 0 {
  .c-title{
    font-size: prem(24);
    color: black;
    @include mq(md){
    color: red;
    }
    @include mq(lg){
    color: blue;
    }
    @include mq(xl){
    color: green;
    }
  }
// PCファースト
}@else{
  .c-title{
    font-size: prem(24);
    color: green;
    @include mq(xl){
    color: blue;
    }
    @include mq(lg){
    color: red;
    }
    @include mq(md){
    color: black;
    }
  }
}
