@use 'foundation' as *;

.top-mv {
  position: relative;
  height: 100vh;
  overflow: hidden;
}


.top-mv__titles {
  position: absolute;
  top: 65%;
  transform: translate(-50%,-50%);
  left: 30%;
  z-index: 1000;
  text-align: center;
  @include mq(md) {
    top: 54%;
    left: 51%;
  }
 }

.top-mv__title {
  font-size: prem(70);
  // font-weight: bold;
  font-family: $font-family-en;
  @include mq(md) {
    font-size: prem();
  }
}

.top-mv__subtitle {
  font-size: prem(40);
  font-weight: bold;
}

