@use 'foundation' as *;

.top-mv {
  position: relative;
  height: 100vh;
  overflow: hidden;
}


.top-mv__titles {
  position: absolute;
  top: 53%;
  transform: translate(-50%,-50%);
  left: 53%;
  color: $color-white;
  z-index: 1000;
  text-align: center;
  @include mq(md) {
    top: 54%;
    left: 51%;
  }
 }

.top-mv__title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $lato-family;
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  align-items: center;
  @include mq(md) {
    font-size: 5rem;
  }
}

// .top-mv__subtitle {
//   font-size: rem(20);
//   line-height: 1.8125;
//   text-align: center;
//   font-family: $en-family;
//   font-weight: 400;
// }

