@use 'foundation' as *;

.top-mv {
  position: relative;
  height: 100vh;
  overflow: hidden;
}


.top-mv__titles {
  position: absolute;
  top: 53%;
  transform: translate(-50%,-50%);
  left: 53%;
  // color: $color-white;
  z-index: 1000;
  text-align: center;
  @include mq(md) {
    top: 54%;
    left: 51%;
  }
 }

.top-mv__title {
  font-size: rem(70);
  font-weight: bold;
  font-family: $font-family-en;
}

.top-mv__subtitle {
  font-size: rem(40);
  // text-align: center;
  font-weight: bold;
}

