@use 'foundation' as *; 

.cards {
  @include mq(md) {
    grid-template-columns: repeat(1,1fr);
    max-width: prem(500);
    margin: 0 auto;
    gap: prem(30);
  }
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0 calc(% - 50vw);
	width: 100vw;
}

.card {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.card__img {
  @include mq(md) {
  aspect-ratio: 240 / 160;
  }
  aspect-ratio: 480 / 320;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}