@use 'foundation' as *; 

.items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: prem(20);
}

.item {
  background-color: #fff;
  // box-shadow: rem(2) rem(2) rem(10) rgba(0,0,0,0.25);
  // padding: rem(16) rem(16) rem(24);
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.item-img {
  aspect-ratio: 320 / 200;
}


.item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-text {
  color: ;
}