@use 'foundation' as *;

.section__title {
  position: relative;
  font-size: prem(60);
  font-family: $font-family-en;
  font-weight: bold;
  font-style: italic;
}

.section__title::before {
  content: ""; /* contentプロパティは必要ですが、中身は空です */
  width: prem(200); /* 幅 */
  height: prem(1); /* 高さ */
  position: absolute;
  top: prem(48);
  left: prem(320);
  display: inline-block; /* インラインブロック要素として表示 */
  background-color: black; /* 背景色（例: 黒色） */
}

.section-under__title {
  margin-top: prem(70);
  font-size: prem(90);
  font-weight: bold;
}