@use 'foundation' as *; 

.top-contact {
  background-image: url(/images/common/Works-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-contact__title {
  te
}


.top-contact__title::after {
  content: ""; /* contentプロパティは必要ですが、中身は空です */
  background-color: white; /* 背景色（例: 黒色） */
}