@use 'foundation' as *;

.hamburger {
  position: relative;
  z-index: 999;
  padding: prem(5);
  width: prem(41);
  height: prem(21);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.hamburger span {
  position: absolute;
  display: block;
  width: prem(31);
  height: prem(2);
  background-color: $color-white;
  transform: translateY(-50%);
  transition: .6s;
}

.hamburger span:nth-of-type(1) {
  top: 35%;
}

.hamburger span:nth-of-type(2) {
  top: 50%;
}

.hamburger span:nth-of-type(3) {
  top: 65%;
}



.hamburger.is-open span:nth-of-type(1) {
  top: 50%;
  transform: rotate(45deg);
}

.hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-of-type(3) {
  top: 50%;
  transform: rotate(-45deg);
}
